body {
    padding: 0px;
    margin: 0px;
}

.izquierdo {
    display: flex;
    float: left;
    width: 687px;
}

.derecho {
    display: flex;
    float: right;
    width: 650px;
}

.login {
    display: flex;
    float: left;
    background: #fff;
    color: #000;
}

.title {
    text-transform: uppercase;
    color: #000;
    padding: 5px;
    margin-top: 35px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 300;
}

.form {
    margin: auto;
    width: 70%;
}

.error--text {
    color: #f50b0b !important;
    caret-color: #f50b0b !important;
}

.v_label {
    color: #000 !important;
}

.v-input__slot {
    padding: 0 12px;
}

.v-messages__message {
    position: relative;
    left: 65px;
    font-size: 14px;
    margin: 10px 0;
}

.fotgot_password {
    position: relative;
    font-size: 14px;
    color: #00a8e1;
    left: 94px;
    cursor: pointer;
    margin-bottom: 25px;
}

.btn_cambios {
    width: 300px;
    height: 50px;
    background: #00a8e1;
    color: #fff;
    border-radius: 10px;
}

.v-btn__content {
    text-transform: uppercase;
    font-size: 15px;
}

.column_data_inf0 {
    margin-top: 30px;
}

.info_text {
    font-size: 1.2rem;
    color: #727888;
    max-width: 100%;
    margin-left: 20px;
    text-align: start;
    line-height: 18px;
    position: relative;
    left: 95px;
    width: 300px;
}